mode: nftables
pid_dir: /var/run/
log_mode: file
log_dir: /var/log/
log_level: info
api_key: {{ crowdsec_bouncer_api_key }}
api_url: "http://{{ crowdsec_lapi_host }}:{{ crowdsec_lapi_port }}"
insecure_skip_verify: false
disable_ipv6: true
deny_action: DROP
deny_log: false
supported_decisions_types:
  - ban
nftables:
  ipv4:
    enabled: true
    set-only: false
    table: crowdsec
    chain: crowdsec-chain
  ipv6:
    enabled: false
