# Managed by Ansible
[DEFAULT]
bantime.increment = true
bantime.multipliers = 1 5 30 60 300

[caddy-scanner]
enabled  = true
filter   = caddy-scanner
logpath  = /var/log/caddy/access.log
maxretry = {{ fail2ban_scanner_maxretry }}
findtime = {{ fail2ban_findtime }}
bantime  = {{ fail2ban_ban_base }}
backend  = auto
action   = vps-ban[vps_ip="{{ vps_public_ip }}"]

[caddy-404]
enabled  = true
filter   = caddy-404
logpath  = /var/log/caddy/access.log
maxretry = {{ fail2ban_flood_maxretry }}
findtime = {{ fail2ban_findtime }}
bantime  = {{ fail2ban_ban_base }}
backend  = auto
action   = vps-ban[vps_ip="{{ vps_public_ip }}"]
