[Interface]
PrivateKey = {{ vault_wireguard_server_private_key }}
Address = {{ wireguard_server_ip }}/24
ListenPort = {{ wireguard_port }}
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE

[Peer]
# Mikrotik
PublicKey = {{ vault_wireguard_client_public_key }}
AllowedIPs = {{ wireguard_client_ip }}/32
