vms = {
  "tools-example" = {
    vm_id       = 120
    node_name   = "pve-example"
    boot_storage = "boot-example"
    data_storage = "data-example"
    iso_file_id = "local:iso/debian-installer.iso"
    mac_address = "02:00:00:00:00:20"
    started     = false
  }
}
