vms = {
  "tools-example" = {
    vm_id       = 120
    node_name   = "pve-example"
    ssd_storage = "ssd-example"
    hdd_storage = "hdd-example"
    iso_file_id = "local:iso/debian-installer.iso"
    mac_address = "02:00:00:00:00:20"
    started     = false
  }
}
