:local wgIf "{{ mikrotik_wireguard_interface }}";
:local srvKey "{{ vault_wireguard_server_public_key }}";
:if ([/interface/wireguard find name=$wgIf] = "") do={ /interface/wireguard add name=$wgIf mtu={{ mikrotik_wireguard_mtu }} private-key="{{ vault_wireguard_client_private_key | default('') }}" } else={ /interface/wireguard set [find name=$wgIf] mtu={{ mikrotik_wireguard_mtu }} };
:if ([/interface/wireguard get [find name=$wgIf] disabled] = true) do={ /interface/wireguard enable [find name=$wgIf] };
:if ([/interface/wireguard/peers find interface=$wgIf public-key=$srvKey] = "") do={ /interface/wireguard/peers add interface=$wgIf public-key=$srvKey endpoint-address={{ ingress_ip }} endpoint-port={{ wireguard_port }} allowed-address="{{ mikrotik_peer_allowed_addresses }}" persistent-keepalive=25s } else={ /interface/wireguard/peers set [find interface=$wgIf public-key=$srvKey] endpoint-address={{ ingress_ip }} endpoint-port={{ wireguard_port }} allowed-address="{{ mikrotik_peer_allowed_addresses }}" persistent-keepalive=25s };
:if ([/ip/address find interface=$wgIf address="{{ wireguard_client_ip }}/24"] = "") do={ /ip/address add address={{ wireguard_client_ip }}/24 interface=$wgIf };
:if ([/ip/route find dst-address="{{ wireguard_server_ip }}/32" comment="ansible: route to VPS WireGuard"] = "") do={ :if ([/ip/route find dst-address="{{ wireguard_server_ip }}/32"] = "") do={ /ip/route add dst-address={{ wireguard_server_ip }}/32 gateway=$wgIf comment="ansible: route to VPS WireGuard" } else={ /ip/route set [find dst-address="{{ wireguard_server_ip }}/32"] gateway=$wgIf comment="ansible: route to VPS WireGuard" } };
:local wdSrc ":if ([/ping {{ wireguard_server_ip }} count=3] = 0) do={/interface/wireguard disable {{ mikrotik_wireguard_interface }}; :delay {{ mikrotik_watchdog_cooldown }}; /interface/wireguard set {{ mikrotik_wireguard_interface }} listen-port=0; /interface/wireguard enable {{ mikrotik_wireguard_interface }}}";
:if ([/system/script find name="wg-watchdog"] = "") do={ /system/script add name="wg-watchdog" policy=read,write,test source=$wdSrc } else={ /system/script set [find name="wg-watchdog"] source=$wdSrc policy=read,write,test };
:if ([/system/scheduler find name="wg-watchdog"] = "") do={ /system/scheduler add name="wg-watchdog" interval={{ mikrotik_watchdog_interval }} on-event="wg-watchdog" policy=read,write,test start-time=startup } else={ /system/scheduler set [find name="wg-watchdog"] interval={{ mikrotik_watchdog_interval }} on-event="wg-watchdog" policy=read,write,test start-time=startup disabled=no };
:put "MIKROTIK-WIREGUARD-OK";
